[submodule "tracy"]
	path = deps/tracy
	url = https://github.com/wolfpld/tracy.git
	branch = master
[submodule "ankerl"]
	path = deps/ankerl
	url = https://github.com/martinus/unordered_dense
	branch = main
